<div class="card-container">
  <table>
    <tr>
      <th>วันที่แจ้ง</th>
      <th>สถานะ</th>
      <th>รายละเอียด</th>
      <th></th>
    </tr>
    <tr>
      <td>12/01/2022</td>
      <td>New</td>
      <td>เมาส์เสีย</td>
      <td>
        <a routerLink="/dproblem/CS10003"><i class="pi pi-angle-right"></i></a>
      </td>
    </tr>
    <tr>
      <td>09/01/2022</td>
      <td>Waiting</td>
      <td>ปริ้นเตอร์หมึกหมด</td>
      <td>
        <a routerLink="/dproblem/CS10002"><i class="pi pi-angle-right"></i></a>
      </td>
    </tr>
    <tr>
      <td>25/12/2021</td>
      <td>Close</td>
      <td>คอมเปิดไม่ติด</td>
      <td>
        <a routerLink="/dproblem/CS10001"><i class="pi pi-angle-right"></i></a>
      </td>
    </tr>
  </table>
</div>
