<mat-progress-bar *ngIf="isProgressbar" mode="indeterminate"></mat-progress-bar>
<h2 mat-dialog-title class="mat-typography">แก้ไข บัญชีผู้ใช้งาน</h2>

<mat-tab-group dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">account_circle</mat-icon>
      แก้ไขบัญชี
    </ng-template>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div fxLayout="column" fxLayoutGap="10" class="mt-15">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" />
        </mat-form-field>

        <div
          fxLayout="row"
          fxLayout.lt-sm="column"
          fxLayoutGap="10"
          fxLayoutGap.lt-sm="0"
        >
          <mat-form-field fxFlex>
            <mat-label>ชื่อ</mat-label>
            <input
              matInput
              type="text"
              formControlName="firstname"
              cdkFocusInitial
              #inputFirstname
            />
          </mat-form-field>

          <mat-form-field fxFlex>
            <mat-label>นามสกุล</mat-label>
            <input matInput type="text" formControlName="lastname" />
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>หมายเหตุ</mat-label>
          <input matInput type="text" formControlName="remark" />
        </mat-form-field>

        <label class="text-gray">สิทธิ</label>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-radio-group formControlName="role">
            <mat-radio-button [value]="1">User</mat-radio-button>
            <mat-radio-button [value]="0">Admin</mat-radio-button>
          </mat-radio-group>
          <mat-slide-toggle formControlName="active">ใช้งาน</mat-slide-toggle>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="10" class="mt-15">
        <button mat-raised-button color="primary" [disabled]="isButton">
          Submit
        </button>
        <button
          mat-raised-button
          type="button"
          color="warn"
          (click)="onReset()"
        >
          Reset
        </button>
      </div>
    </form>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">key</mat-icon>
      เปลี่ยนรหัสผ่าน
    </ng-template>

    <form [formGroup]="formPassword" (ngSubmit)="onSubmitChangePassword()">
      <div fxLayout="column" fxLayoutGap="10" class="mt-15">
        <mat-form-field>
          <mat-label>รหัสผ่านใหม่</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            #inputPassword
          />
          <mat-error
            >ตัวอักษรตัวเล็ก (a-z), ตัวใหญ่ (A-Z), ตัวเลข (0-9), ตัวพิเศษ (@,
            #), และความยาวไม่ตำกว่า 6 ตัวอักษร
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>ยืนยันรหัสผ่านใหม่</mat-label>
          <input matInput type="password" formControlName="cpassword" />
          <mat-error>รหัสผ่านไม่ตรงกัน </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="10">
          <button
            mat-raised-button
            color="primary"
            [disabled]="isButtonPassword"
          >
            Submit
          </button>
          <button
            mat-raised-button
            type="button"
            color="warn"
            (click)="onResetChangePassword()"
          >
            Reset
          </button>
        </div>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>
