<div class="card-container">
  <table>
    <tr>
      <th>วันที่แจ้ง</th>
      <th>CS No.</th>
      <th>รายละเอียด</th>
      <th></th>
    </tr>
    <tr>
      <td>09/01/2022</td>
      <td>CS10002</td>
      <td>ผู้รับเรื่องแก้ไข วรวีร์ พิชิตพันธ์พงศ์</td>
      <td>
        <a routerLink="/dproblem/CS10002"><i class="pi pi-angle-right"></i></a>
      </td>
    </tr>

    <tr>
      <td>26/12/2021</td>
      <td>CS10001</td>
      <td>ปิดงานโดย มานพ เกษี</td>
      <td>
        <a routerLink="/dproblem/CS10001"><i class="pi pi-angle-right"></i></a>
      </td>
    </tr>
    <tr>
      <td>25/12/2021</td>
      <td>CS10001</td>
      <td>ผู้รับเรื่องแก้ไข มานพ เกษี</td>
      <td>
        <a routerLink="/dproblem/CS10001"><i class="pi pi-angle-right"></i></a>
      </td>
    </tr>
  </table>
</div>
