<div class="container">
  <p-card>
    <h3>ข้อมูลการแจ้งปัญหา</h3>
    <div class="input-field">
      <label>CS No.</label>
      <span>: {{ csno }}</span>
    </div>

    <div class="input-field">
      <label>ผู้แจ้ง</label>
      <span>: {{ mockData.UserName }} {{ mockData.UserSurName }}</span>
    </div>

    <div class="input-field">
      <label>ปัญหา</label>
      <span>: {{ problem }}</span>
    </div>

    <div class="input-field">
      <label>ไฟล์แนบ</label>
      <span class="img-file">: <img src="assets/file.png" /></span>
    </div>

    <hr class="line" />

    <div style="display: flex; justify-content: space-evenly">
      <button
        pButton
        pRipple
        class="p-button"
        type="button"
        (click)="onSubmit()"
      >
        ตกลง<i class="pi pi-check icon-right"></i>
      </button>
      <button
        pButton
        pRipple
        class="p-button-danger"
        type="button"
        (click)="onCancel()"
      >
        ยกเลิก<i class="pi pi-times icon-right"></i>
      </button>
    </div>
  </p-card>
</div>
