mat-toolbar {
  background: inherit;
}

mat-nav-list {
  a {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
  }

  .active {
    color: #963586;
    background-color: #ffeffc;
    //color: #0094f6;
    //background-color: #d9effa;
  }
}

::ng-deep .mat-expansion-panel-header {
  //height: 48px !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

.logo {
  height: 50px;
  width: 100px;
}

.expansion-header {
  padding-left: 16px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 500;

  mat-icon {
    padding: 0 4px;
  }
}

.sub-menu {
  padding-left: 24px !important;
}
