@use "@angular/material" as mat;
$container-color: #0b111e;
$card-body-color: #151b28;
$font-focus-color: #9584e5;

// Define a light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$deep-purple-palette),
      accent: mat.define-palette(mat.$amber-palette),
    ),
  )
);

// Define a dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$deep-purple-palette),
      accent: mat.define-palette(mat.$green-palette),
    ),
  )
);

// Apply the dark theme by default
@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

.dark-theme {
  .bg-container {
    background-color: $container-color;
  }

  .bg-card {
    background-color: $card-body-color;
  }

  mat-form-field {
    &.mat-focused mat-label {
      color: $font-focus-color;
    }
  }
}
