<!-- <label>Server Name</label>
<input type="text" class="form-control" (input)="onUpdateSserver($event)" />
<input type="text" class="form-control" [(ngModel)]="serverName" />
<p>{{ serverName }}</p>
<button
  class="btn btn-primary"
  [disabled]="!allowNerServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<p [innerText]="allowNerServer"></p>
<p>{{ serverCreationStatus }}</p>
<p *ngIf="serverCreated; else noServer">
  Server was created, server name is {{ serverName }}
</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>

<app-server *ngFor="let server of servers"></app-server> -->

<!-- -------------------------------------------- Debugging 4/62 -------------------------------------------------------------- -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>My Servers</h2>
      <button class="btn btn-primary" (click)="onAddServer()">
        Add Server
      </button>
      <br /><br />
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers2; let i = index"
          (click)="onRemoveServer(i)"
        >
          {{ server }}
        </li>
      </ul>
    </div>
  </div>
</div> -->
