mat-toolbar {
  color: #fff;
  //background: linear-gradient(to right, #0094f6, #45adf1);
  background: linear-gradient(to right, #a34693, #ad579e);
}

::ng-deep .mat-dialog-container {
  position: relative !important;
}

.mat-progress-bar {
  position: absolute !important;
  left: 0;
  top: 0;
}

::ng-deep .underline .mat-form-field-underline {
  display: none;
}

.navbar-right {
  display: flex;
  width: 100%;
  justify-content: right;
}

.text-logout {
  font-size: 13px;
  font-weight: 500;
  color: #767676;
  text-transform: capitalize;
}

.footer {
  margin-bottom: -16px;
}
