<mat-progress-bar *ngIf="isProgressbar" mode="indeterminate"></mat-progress-bar>
<div fxLayout="row" fxLayoutAlign="space-between center" class="header">
  <h2 mat-dialog-title class="mat-typography text-gray">เพิ่มอุปกรณ์</h2>
  <button mat-icon-button mat-dialog-close class="btn-dialog-close text-gray">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="form" (submit)="onSubmit()">
  <mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="10">
      <div class="mb-20">
        <ngx-dropzone
          (change)="onSelectFile($event)"
          [accept]="'image/*'"
          [multiple]="false"
        >
          <ngx-dropzone-label>รูปภาพ</ngx-dropzone-label>
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of files"
            [file]="f"
            [removable]="true"
            (removed)="onRemoveFile(f)"
          >
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>

      <div
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutGap="10px"
        fxLayoutGap.lt-sm="0px"
      >
        <mat-form-field fxFlex="100">
          <mat-label>รหัส</mat-label>
          <input
            matInput
            type="text"
            formControlName="code"
            #inputCode
            cdkFocusInitial
          />
          <mat-error>Ex. 52-21-090208-215-00615-0001</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100">
          <mat-label>รหัสเดิม</mat-label>
          <input matInput type="text" formControlName="old_code" />
        </mat-form-field>
      </div>
      <div
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutGap="10px"
        fxLayoutGap.lt-sm="0px"
      >
        <mat-form-field fxFlex="100">
          <mat-label>วันที่ได้รับ</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            type="text"
            formControlName="received_date"
            (focusout)="onDateInput(received_date.value)"
            #inputDate
          />
          <mat-hint align="end">วัน/เดือน/พ.ศ.</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="100">
          <mat-label>ประเภท</mat-label>
          <mat-select
            formControlName="category"
            [compareWith]="objectComparison"
            (closed)="clearTxt()"
            (opened)="onOpened()"
          >
            <div class="search">
              <input
                [(ngModel)]="searchTxt"
                [ngModelOptions]="{ standalone: true }"
                matInput
                #inputSearch
                placeholder="ค้นหา"
              />
            </div>

            <mat-option
              *ngFor="let data of menuCategory | search: searchTxt"
              [value]="data"
              >{{ data.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field class="underline">
        <mat-label>สถานะ</mat-label>
        <mat-chip-list
          #chipList
          class="my-chip"
          multiple="false"
          formControlName="status"
        >
          <mat-chip
            *ngFor="let data of menuStatus"
            [value]="data.id"
            (click)="onChipSelect(data.id)"
          >
            {{ data.name }}
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>

      <mat-form-field>
        <mat-label>รายละเอียด</mat-label>
        <input matInput formControlName="detail" #inputDetail />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayout.lt-sm="column"
    fxLayoutGap.lt-sm="12"
    fxLayoutAlign.lt-sm="start start"
    class="footer"
  >
    <div>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="isButton"
      >
        Submit
      </button>
      <button type="button" mat-raised-button color="warn" (click)="onReset()">
        Reset
      </button>
    </div>
    <mat-checkbox formControlName="repeat">ใช้ข้อมูลในรายการถัดไป</mat-checkbox>
  </mat-dialog-actions>
</form>
