<!-- ------------------------ 2. The Basic ---------------------------------------------------------------------------------- -->
<!-- /server -->
<!-- <router-outlet></router-outlet> -->

<!-- ------------------------ 5. Components & Databinding Deep Diva ---------------------------------------------------------------------------------- -->
<!-- /binding -->
<!-- <router-outlet></router-outlet> -->

<!-- ------------------------ 7. Directives Deep Diva ---------------------------------------------------------------------------------- -->
<!-- /directive -->
<!-- <router-outlet></router-outlet> -->

<!-- ------------------------ 9. Using Services & Dependency Injection ---------------------------------------------------------------------------------- -->
<!-- /services -->
<!-- <router-outlet></router-outlet> -->

<!-- ------------------------ 11. Changing Pages wth Routing ---------------------------------------------------------------------------------- -->
<!-- /routing -->
<!-- <router-outlet></router-outlet> -->

<!-- ------------------------ 13. Understanding Observables ---------------------------------------------------------------------------------- -->
<!-- /observables -->
<!-- <router-outlet></router-outlet> -->

<!--* ------------------------ Main Project ---------------------------------------------------------------------------------- -->
<!--* /project -->
<main>
  <router-outlet></router-outlet>
</main>
