.view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("/assets/images/bg-bsru.png") no-repeat center;
  background-size: cover;
  z-index: -100;
}

.rgba-stylish-strong {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 69, 81, 0.6);
  backdrop-filter: blur(4px);
}

.login-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  position: relative;
  margin: 0 15px;
  width: 100%;
  max-width: 400px;
  padding: 60px 40px 40px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  color: #fff;
}

@media only screen and (max-width: 320px) {
  .login-form img {
    display: none;
  }
}

.login-form img {
  position: absolute;
  top: -150px;
  left: calc(50% - 60px);
  width: 120px;
  border-radius: 50%;
}

.login-form h2 {
  text-align: start;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #009ee3;
  font-size: 2rem;
}

.login-form .input-group {
  margin-bottom: 10px;
  width: 100%;
  font-size: 1rem;
}

.login-form .input-checkbox {
  margin-bottom: 20px;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(144deg, #823876, #5b42f3 50%, #009ee3);
  border: none;
  border-radius: 30px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1em;
  width: 100%;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.login-btn:active,
.login-btn:hover,
.login-btn:focus {
  outline: 0;
}

.login-btn span {
  background-color: rgba(5, 6, 45, 0.8);
  padding: 16px 24px;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.login-btn:hover:enabled span {
  background: none;
}

.login-btn:focus:enabled span {
  background: none;
}

.login-btn:active:enabled {
  transform: scale(0.9);
}

.login-btn:disabled {
  background-image: none;
}

.login-btn:disabled span {
  background-color: #cccccc;
}

.login-form mat-checkbox {
  color: #fff;
  font-size: 14px;
}

.login-form::ng-deep .mat-checkbox-frame {
  border-color: #fff;
}

// mat-label normal state style
.login-wrapper ::ng-deep .mat-form-field-label {
  color: #fff !important;
}

.login-wrapper
  ::ng-deep
  .mat-form-field.mat-form-field-invalid
  .mat-form-field-label {
  color: #f44336 !important;
}

.login-wrapper ::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #009ee3 !important;
}

.login-wrapper ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #fff !important;
}

.login-wrapper ::ng-deep .mat-progress-bar-fill::after {
  background-color: #009ee3;
}

.login-wrapper ::ng-deep .mat-progress-bar-buffer {
  background: #ffffff;
}

.login-wrapper ::ng-deep .mat-progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
