<div class="view">
  <div class="rgba-stylish-strong"></div>
</div>

<div class="login-wrapper">
  <form [formGroup]="form" (submit)="onSubmit()" class="login-form">
    <mat-progress-bar
      *ngIf="isProgressBar"
      mode="indeterminate"
    ></mat-progress-bar>
    <img src="assets/images/logo-bsru.png" alt="logo" />
    <h2>ระบบพัสดุ</h2>
    <mat-form-field class="input-group">
      <mat-label>Username</mat-label>
      <input type="text" matInput formControlName="username" autofocus />
      <mat-error>เฉพาะตัวอักษร (a-z), ตัวเลข, และความยาว (4-15)</mat-error>
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field class="input-group">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error>ป้อน รหัสผ่าน</mat-error>
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <div class="input-checkbox">
      <mat-checkbox formControlName="remember"
        >Stay signed in for 30 days</mat-checkbox
      >
    </div>

    <button type="submit" class="login-btn" [disabled]="isButtonLogin">
      <span class="text">Log in</span>
    </button>
  </form>
</div>
