<mat-toolbar color="primary" class="toolbar">
  <div class="toolbar-item">
    <button mat-icon-button (click)="onSidenavToggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
  </div>

  <div class="toolbar-item">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
    <button
      *ngIf="theme == 'light-theme'"
      mat-mini-fab
      style="background-color: #ffffff"
      (click)="onSwitchTheme()"
    >
      <mat-icon class="material-icons-outlined" style="color: #9584e5"
        >light_mode</mat-icon
      >
    </button>

    <button
      *ngIf="theme == 'dark-theme'"
      mat-mini-fab
      style="background-color: #151b28"
      (click)="onSwitchTheme()"
    >
      <mat-icon class="material-icons-outlined" style="color: #9584e5"
        >dark_mode</mat-icon
      >
    </button>
  </div>
</mat-toolbar>

<div id="test"></div>
