/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .f-start {
    align-self: flex-start;
  }
}
