<div class="container">
  <p-card>
    <h3>ข้อมูลการแจ้งปัญหา</h3>
    <div class="input-field">
      <label>CS No.</label>
      <span>: {{ reportData.csno }}</span>
    </div>

    <div class="input-field">
      <label>สถานะ</label>
      <span>: {{ reportData.status }}</span>
    </div>

    <div class="input-field">
      <label>วันที่แจ้ง</label>
      <span>: {{ reportData.notiDate }}</span>
    </div>

    <div class="input-field">
      <label>วันที่รับแจ้ง</label>
      <span>: {{ reportData.receiveDate }}</span>
    </div>

    <div class="input-field">
      <label>ผู้แจ้ง</label>
      <span>: {{ reportData.name }}</span>
    </div>

    <div class="input-field">
      <label>ปัญหา</label>
      <span>: {{ reportData.problem }}</span>
    </div>

    <div class="input-field">
      <label>ไฟล์แนบ</label>
      <span class="img-file">: <img src="assets/file.png" /></span>
    </div>

    <!-- <div class="input-field">
      <label>ปัญหา</label>
      <span class="img-file"
        >:
        <input
          type="text"
          pInputText
          style="margin-left: 5px; width: 100%"
          [value]="reportData.problem"
      /></span>
    </div>

    <div class="input-field">
      <label>ไฟล์แนบ</label>
      <span class="img-file"
        >: <input type="file" pInputText style="margin-left: 5px; width: 100%"
      /></span>
    </div> -->

    <hr class="line" />

    <div class="input-field" *ngIf="!role2">
      <label>ผู้แก้ไข</label>
      <span>: {{ reportData.itName }}</span>
    </div>

    <!-- <div class="input-field" *ngIf="role2">
      <label>ผู้แก้ไข</label>
      <span
        >:
        <select class="form-select">
          <option selected>Choose IT Support</option>
          <option value="1">วรวีร์ พิชิตพันธ์พงศ์</option>
          <option value="2">มานพ เกษี</option>
        </select></span
      >
    </div> -->

    <!-- <div class="input-field">
      <label>รายละเอียดการแก้ไข</label>
      <span>: <input type="text" pInputText /></span>
    </div> -->

    <div class="input-field" *ngIf="!role2">
      <label>รายละเอียดการแก้ไข</label>
      <span>: {{ reportData.detailProblem }}</span>
    </div>

    <div class="input-field" *ngIf="!role2">
      <label>วันที่ปิดงาน</label>
      <span>: 27/12/2021</span>
    </div>

    <!-- <div style="display: flex; justify-content: space-evenly">
      <button pButton pRipple class="p-button" type="button">
        อัพเดท<i class="pi pi-check icon-right"></i>
      </button>
      <button pButton pRipple class="p-button-help" type="button">
        ย้อนกลับ<i class="pi pi-arrow-left icon-right"></i>
      </button>
    </div> -->

    <div style="text-align: right">
      <button
        (click)="onBack()"
        pButton
        pRipple
        class="p-button-help"
        type="button"
      >
        ย้อนกลับ<i class="pi pi-arrow-left icon-right"></i>
      </button>
    </div>
  </p-card>
</div>

<!-- <select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select> -->
