<form class="wrapper mb-20" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h2>Register</h2>

  <div class="form-input">
    <input type="text" id="username" formControlName="username" />
    <label for="username">Username</label>
  </div>

  <div class="form-input">
    <input type="password" id="password" formControlName="password" />
    <label for="password">Password</label>
  </div>

  <div class="form-input">
    <input type="text" id="firstname" formControlName="firstname" />
    <label for="firstname">First Name</label>
  </div>

  <div class="form-input">
    <input type="text" id="lastname" formControlName="lastname" />
    <label for="lastname">Last Name</label>
  </div>

  <button type="submit">Submit</button>
</form>

<div class="wrapper" style="gap: 5px">
  <h2>List Account</h2>
  <ng-container *ngFor="let acc of account; let i = index">
    <div>{{ acc.username }} | {{ acc.firstname }} | {{ acc.lastname }}</div>
    <hr style="width: 100%; border-color: deeppink" />
  </ng-container>
</div>
