<!doctype html>
<html>

<head>
    <title>Demo</title>

</head>

<body>
    <!--
    <ol id="cake"></ol>
    <ol id="coffee">
        <li>Latte</li>
        <li>Mocha</li>
    </ol>
    -->

    <button id="incre">Increase</button>
    <button id="decre">Decrease</button>
    <p>25</p>

    <div id="result"></div>
    <script>
        //var element = document.querySelector('#coffee')
        //element.innerHTML += '<li>Americano</li>'

        //var old = element.innerHTML
        //element.innerHTML = '<li>Cappucino</li>' + old

        var elem = document.querySelector('#result')
        elem.innerHTML = '<i>Welcome<i>'
        elem.innerText = '<i>Welcome<i>'

        var btn1 = document.querySelector('#incre')
        var btn2 = document.querySelector('#decre')
        var p = document.querySelector('p')
        var val = +p.innerText

        btn1.addEventListener('click', function() {
            change(1)
        })
        btn2.addEventListener('click', function() {
            change(-1)
        })

        function change(x) {
            p.innerHTML = val += x
        }
    </script>
</body>

</html>