.warpper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: auto;
  background-color: #fff;
}

.card-container {
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-color: #fff;
}

table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;

  th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #e4e4e4;
    border-width: 0 0 1px 0;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
    background: #ffffff;
    transition: none;
  }

  td {
    text-align: left;
    border: 1px solid #e4e4e4;
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
  }

  a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    color: black;
    cursor: pointer;
  }
}
