<div class="box">
  <div class="container">
    <mat-card fxFlex>
      <mat-card-title>Form Upload</mat-card-title>
      <mat-card-subtitle>Upload</mat-card-subtitle>

      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="15">
          <ngx-dropzone (change)="onSelect($event)" [accept]="'image/*'">
            <ngx-dropzone-label>Upload</ngx-dropzone-label>
            <ngx-dropzone-image-preview
              ngProjectAs="ngx-dropzone-preview"
              *ngFor="let f of files"
              [file]="f"
              [removable]="true"
              (removed)="onRemove(f)"
            >
            </ngx-dropzone-image-preview>
          </ngx-dropzone>

          <mat-form-field>
            <input matInput placeholder="File Name" [(ngModel)]="fileName" />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
