<div class="grid-container">
  <mat-card>
    <mat-card-content>
      <mat-list>
        <div mat-subheader>ตั้งค่า</div>

        <a routerLink="account">
          <mat-list-item class="list-item">
            <mat-icon mat-list-icon class="icon-blue">manage_accounts</mat-icon>
            <div mat-line>บัญชีผู้ใช้งาน</div>
            <mat-icon>chevron_right</mat-icon>
          </mat-list-item>
        </a>

        <a routerLink="category">
          <mat-list-item class="list-item">
            <mat-icon mat-list-icon class="icon-green">list_alt</mat-icon>
            <div mat-line>ประเภทอุปกรณ์</div>
            <mat-icon>chevron_right</mat-icon>
          </mat-list-item>
        </a>

        <a routerLink="status">
          <mat-list-item class="list-item">
            <mat-icon mat-list-icon class="icon-yellow">dataset</mat-icon>
            <div mat-line>สถานะอุปกรณ์</div>
            <mat-icon>chevron_right</mat-icon>
          </mat-list-item>
        </a>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
