<div class="nav-bt" *ngIf="navs.visible">
  <!-- <a
    routerLink="tproblem"
    routerLinkActive="nav-bt-link-active"
    class="nav-bt-link"
  >
    <i class="material-icons nav-bt-icon">view_list</i>
    <i class="material-icons nav-bt-icon" pBadge severity="danger" value="1"
      >view_list</i
    > 
    <span class="nav-bt-text">โอนงาน</span>
  </a> -->

  <!-- <a
    routerLink="fproblem"
    routerLinkActive="nav-bt-link-active"
    class="nav-bt-link"
  >
    <i class="material-icons nav-bt-icon">build</i>
    <i class="material-icons nav-bt-icon" pBadge severity="danger" value="1"
      >build</i
    >
    <span class="nav-bt-text">รายการปัญหา</span>
  </a>

  <a
    routerLink="report"
    routerLinkActive="nav-bt-link-active"
    class="nav-bt-link"
  >
    <i class="material-icons nav-bt-icon">report</i>
    <span class="nav-bt-text">รายงาน</span>
  </a> -->

  <a
    routerLink="problem"
    routerLinkActive="nav-bt-link-active"
    class="nav-bt-link"
  >
    <i class="material-icons nav-bt-icon">list_alt</i>
    <span class="nav-bt-text">รายการแจ้งปัญหา</span>
  </a>
  <a
    routerLink="home"
    routerLinkActive="nav-bt-link-active"
    class="nav-bt-link"
  >
    <i class="material-icons nav-bt-icon">note_add</i>
    <span class="nav-bt-text">แจ้งปัญหา</span>
  </a>

  <!-- <a
    routerLink="login"
    routerLinkActive="nav-bt-link-active"
    class="nav-bt-link"
  >
    <i class="material-icons nav-bt-icon">summarize</i>
    <span class="nav-bt-text">รายงาน</span>
  </a> -->
</div>
